*{
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 22px 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#Netflixlogo {
  width: 150px;
}
.Signin_button button {
  padding: 7px 17px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 900;
}
.Signin_button a {
  text-decoration: none;
  color: white;
}
.first_section {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.013),
      rgba(0, 0, 0, 0.8)
    ),
    url(./background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  border-bottom: 8px solid #222;
}
.area{
    color: white;
    text-align: center;
    margin: 10%;
}
.area h1{
    font-size: 65px;
    margin: 0;
}
.area h3{
    font-size: 31px;
    margin: 0;
}
.area p{
    font-size: 22px;
    margin-bottom: 10px;
}
.nextarea{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nextarea input{
    width: 500px;
    height: 50px;
    padding: 0 10px;
    font-size: 15px;
}
.nextarea button{
    width: 200px;
    height: 54px;
    background-color: #e50914;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 1px;
}
.second_section{
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 70px 45px;
  border-bottom: 8px solid #222;
}
.area2{
  color: white;
  margin: 0;
  padding: 0 30px 0 100px;
}
.area2 h1{
  font-size: 65px;
  margin: 0;
}
.area2 p{
  font-size: 31px;
  margin: 0;
}
.area2 img{
  border: 0;
}
.third_section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 8px solid #222;
  padding: 20px 60px;
}
.third_section img{
  width: 40%;
}
.area3{
  color: white;
  /* border-left: 50px; */
  padding: 0 100px 0 50px;
}
.area3 h1{
  font-size: 65px;
  margin: 0;
}
.area3 p{
  font-size: 31px;
  margin: 0;
}
.fourth_section{
  border-bottom: 8px solid #222;
  background-color: black;
  padding: 50px 100px;
}
.area4{
  color: white;
  /* border-left: 50px; */
  padding: 0 100px 0 50px;
  width: 45%;
}
.area4 h1{
  font-size: 65px;
  margin: 0;
}
.area4 p{
  font-size: 31px;
  margin: 0;
}
.fifth_section{
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 100px 45px;
  border-bottom: 8px solid #222;
}
.fifth_section img{
  width: 40%;
  margin-left: 95px;
}
.area5{
  color: white;
  width: 50%;
  margin-left: 50px;
}
.area5 h1{
  font-size: 65px;
  margin: 0;
}
.area5 p{
  font-size: 31px;
  margin: 0;
}
.sixth_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 20px;
  border-bottom: 8px solid #222;
}
.sixth_section .container{
  width: 58%;
  background-color: #303030;
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 5px 20px;
}
.sixth_section h1{
  font-size: 65px;
  
}
.sixth_section div p{
  font-size: 30px;
}
.sixth_section p{
  font-size: 25px;
  margin-top: 50px;
}
.sixth_section .textcontainer{
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
}
.sixth_section .textcontainer input{
  width: 500px;
  height: 50px;
  padding: 0 10px;
  font-size: 15px;
}
.sixth_section .textcontainer button{
  width: 200px;
  height: 54px;
  background-color: #e50914;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 1px;
}
.seventh_section{
  color: #737373;
  background-color: black;
  margin: 0;
  padding: 70px 300px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.seventh_section .area7{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}
.seven{
  display: flex;
  flex-direction: column;
}
.seven a{
  text-decoration: none;
  color: #737373;
  margin: 5px;
}
.seven a:hover{
  text-decoration: underline;
}
.seventh_section .a7{
  text-align: left;
  font-size: 20px;
  text-decoration: none;
  color: #737373; 
}
.seventh_section .a7:hover{
  text-decoration: underline;
}